nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Express
    sup 2
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.navbar-collapse.collapse
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Articles
        div.dropdown-menu(aria-labelledby="navbarDropdown")
          a.dropdown-item(href="/") See All
          // If logged in ...
          if user
            a.dropdown-item(href="/articles/new") New Article
      // If logged in ...
      if user
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Users
          div.dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/users/register") New User
    ul.navbar-nav.nav-right
      // If logged in ...
      if user
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") User: #{user.username}
          .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href="/logout") Log Out
            a.dropdown-item(href="/articles/new") Other User Action
      else
        li.nav-item
          a.btn.btn-primary(href="/users/login") Login
