extends layout

block content
  if article
    h1 Edit Article
  else
    h1 New Article
  form(action=action method="POST")
    #form-group.mt-2
      label Title
      if article
        input.form-control(type="text" name="title" placeholder="Title" value=article.title)
      else
        input.form-control(type="text" name="title" placeholder="Title")
    #form-group.mt-2
      Label Body
      if article
        textarea.form-control(name="body" style="height:200px;")= article.body
      else
        textarea.form-control(name="body" style="height:200px;")
    input.mt-2.form-control.btn.btn-primary(type="submit" value="Save")
