extends layout

block content
  h1 App Home
  // If logged in ...
  if user
    div.text-right.mb-2
      a.btn.btn-success(href="/articles/new") New

  table.table
    thead
      tr
        th Title
        th Author
        th Actions
    tbody
    each item, i in articles
      tr
        td= item.title
        td= item.author
        td
          a.btn.btn-secondary(href="/articles/" + item.id) View
          // If logged in ...
          if user
            a.btn.btn-primary.ml-2(href="/articles/edit/" + item.id) Edit
            a.btn.btn-danger.ml-2.btn-delete(href="#" data-id=item.id) Delete
