doctype html
html(lang='en')
  head
    title= title
    script(src="/vendor/jquery/jquery.min.js")
    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")

  body
    include partials/menu.pug
    div(class="container py-5")
      != messages('message', locals)
      if errors
        each error, i in errors
          div.alert.alert-danger= error.msg
      block content
    br
    hr
    footer
      div(class="container text-center")
        p &copy2019 Some Entity
  script(src="/vendor/bootstrap/js/bootstrap.min.js")
  script(src="/js/main.js")
