extends layout

block content
  h1 Login
  form(action="/users/login" method="POST")
    #form-group.mt-2
      Label Username
      if user
        input.form-control(type="text" name="username" placeholder="Username" value=user.username)
      else
        input.form-control(type="text" name="username" placeholder="Username")
    #form-group.mt-2
      Label Password
      if user
        input.form-control(type="password" name="password" placeholder="Password" value=user.password)
      else
        input.form-control(type="password" name="password" placeholder="Password")

    input.mt-2.form-control.btn.btn-primary(type="submit" value="Save")

    // name, email, username, password
