extends layout

block content
  if user
    h1 Edit User
  else
    h1 Register User
  form(action=action method="POST")
    #form-group.mt-2
      label Name
      if user
        input.form-control(type="text" name="name" placeholder="Name" value=user.name)
      else
        input.form-control(type="text" name="name" placeholder="Name")
    #form-group.mt-2
      Label Email
      if user
        input.form-control(type="text" name="email" placeholder="Email" value=user.email)
      else
        input.form-control(type="text" name="email" placeholder="Email")
    #form-group.mt-2
      Label Username
      if user
        input.form-control(type="text" name="username" placeholder="Username" value=user.username)
      else
        input.form-control(type="text" name="username" placeholder="Username")
    #form-group.mt-2
      Label Password
      if user
        input.form-control(type="password" name="password" placeholder="Password" value=user.password)
      else
        input.form-control(type="password" name="password" placeholder="Password")
    #form-group.mt-2
      Label Password Confirm
      if user
        input.form-control(type="password" name="password2" placeholder="Password Confirm" value=user.password)
      else
        input.form-control(type="password" name="password2" placeholder="Password Confirm")

    input.mt-2.form-control.btn.btn-primary(type="submit" value="Save")

    // name, email, username, password
