body{

}
.navbar-dark .navbar-nav .nav-link{
  color:white

}

.alert-error{
  background-color:#f2dede;
  color:#ff2222;
  border:1px solid red;
}
.alert-success_msg{
  background-color:#dedef2;
  color:#2222ff;
  border:1px solid green;
}

/* #main-menu{
	justify-content: space-between;
}
#main-menu .navbar-inner{
	margin:0 auto;
} */
